<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependantAssembly>
        <assemblyIdentity name="CarLibrary" publicKeyToken="B77A5C561934E089" culture="neutral"/>
        <bindingRedirect oldVersion= "1.0.0.0" newVersion= "2.0.0.0"/>
      </dependantAssembly>
    </assemblyBinding>
  </runtime>
</configuration>